/* CSS UTILIZADO SOMENTE PARA A PERSONALIZAÇÃO DE CORES DE saoroque.css */

/* CORES PADRÕES */
:root{
	--fundo:red;
	--cor_tema:#444;
	--cor_bg_data:#16C1D5;
}
/* FIM CORES */

/* INICIO ESTILO MENU */
.navbar-toggle{
	background:var(--cor_tema);
}
/* FIM ESTILO MENU */

/* INICIO ESTILO RODAPE */
#rodape{
	border-color:var(--fundo);
}
/* FIM ESTILO RODAPE */




/* ESITILO DATA SEMANA TOPO */
.data_semana{
	background-color:var(--cor_bg_data);
}
/* FIM DATA SEMANA */